<mat-form-field appearance="outline" floatLabel="always" class="adornme-field">

    <mat-label>
        {{ label }}
    </mat-label>

    <input matInput [type]="type" [value]="value" [placeholder]="placeholder" [required]="required"
        [disabled]="disabled" [attr.min]="min ?? null" [attr.max]="max ?? null" [attr.step]="step ?? null"
        (input)="onInput($event)" (blur)="onBlur()">

    @if (hint && !hasError) {
    <mat-hint>
        {{ hint }}
    </mat-hint>
    }

    @if (hasError) {
    <mat-error>
        {{ errorMessage }}
    </mat-error>
    }

</mat-form-field>