<div class="auth-container">

    <div class="auth-card">

        <h2>Welcome Back</h2>

        <p>Login to your AdornMe account</p>

        @if (errorMessage) {
        <div class="error">
            {{ errorMessage }}
        </div>
        }

        <form [formGroup]="loginForm" (ngSubmit)="submit()">

            <div class="form-group">

                <app-form-field label="Email" type="email" placeholder="Enter your email" formControlName="email">
                </app-form-field>

                @if (
                loginForm.controls.email.touched &&
                loginForm.controls.email.invalid
                ) {
                <small>
                    Please enter a valid email.
                </small>
                }

            </div>

            <div class="form-group">

                <app-form-field label="Password" type="password" placeholder="Enter your password"
                    formControlName="password">
                </app-form-field>

            </div>

            <app-button text="Login" type="submit" [disabled]="loginForm.invalid">
            </app-button>

        </form>

    </div>

</div>