<div class="pagination">

    <button mat-stroked-button type="button" [disabled]="pageNumber <= 1" (click)="previous()">

        <mat-icon>
            chevron_left
        </mat-icon>

        Previous

    </button>


    <span class="page-info">

        Page
        <strong>{{ pageNumber }}</strong>
        of
        <strong>{{ totalPages }}</strong>

    </span>


    <button mat-stroked-button type="button" [disabled]="pageNumber >= totalPages" (click)="next()">

        Next

        <mat-icon>
            chevron_right
        </mat-icon>

    </button>

</div>